<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction Result</title>
    <style>
        body {
            background-color: black;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        .content {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="content">
        <h1>Eye Disease Prediction Result</h1>
        <p>The model predicts that the image is: glaucoma</p>
    </div>
</body>
</html>
